.Login {
  p {
    margin: 0;
    font-size: 1.8rem;
  }

  button {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    border-color: #FC5200;
    color:#FC5200;
    background-color: #FFF;
    border-style: solid;
  }
}